{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
{% comment %} <div class="form-container"> {% endcomment %}
  <!-- general/core/templates/entity_form.html -->
  <form method="post" class="needs-validation centered-form" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field|add_class:"form-control fixed-width" }}
        {% if field.errors %}
          <div class="invalid-feedback">
            {{ field.errors|first }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Add Record</button>
    </div>
  </form>
{% comment %} </div> {% endcomment %}
</div>
{% endblock %}

<style>
  body, select, input, textarea {
    font-size: 1em;
  }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;  /* Adjust height if necessary */
    }
    .centered-form {
        width: 50%;  /* Adjust width if necessary */
        max-width: 300px;
    }
    .fixed-width {
        width: 100%;
    }
    label {
      display: flex;
      align-items: center;  /* Выравнивание по вертикали */
  }
</style>